* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button:enabled {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
  cursor: pointer;
}

button:hover:enabled {
  background-color: black;
  color: white;
}

button:nth-last-child(2):enabled,
button:nth-last-child(1):enabled {
  background: tomato;
  color: white;
}

button:nth-last-child(2):hover:enabled,
button:nth-last-child(1):hover:enabled {
  background-color: rgb(28, 174, 174);
}
